@import '../utils/mixins.scss';
@import '../utils/variables.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
  height: 100%;
}